/* Parallax from https://codepen.io/tribex/pen/mWNWdz*/
/* Tiny reset thingy */
body,html,div{margin:0;padding:0;}

body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 1.2em;
    background-color: #424242;
}

.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}

img{
    width: 192px;
    height: 96px;
    margin: 12px 22px 0 0;
}
    img{
        box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }
    img.logo{
        width: 144px;
        height: 61px;
        margin: 18px 4px 24px 4px;
    }
        img.logo.protogecko{
            width: 63px;
            height: 85px;
        }
        img.logo.cpp{
            width: 65px;
            height: 72px;
            box-shadow: none;
        }
    img.logo80{
        width: 80px;
        height: 80px;
        margin: 18px 4px 24px 4px;
    }
    img.medium{
        width: 100%;
        height: 100%;
    }    
    img.full{
        width: 75%;
        height: 75%;
    }
    img.github{
        width: 10%;
        height: 10%;
        vertical-align: middle;
        padding-bottom: 12px;
        box-shadow: none;
    }

 .video-title{
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
}

a{
    color: #88b3ff;
}
    a:hover{
        color: chocolate;
        text-decoration: underline;
    }
    a img:hover{
        box-shadow: 0 10px 16px 0 rgba(255, 255, 255, 0.1),0 6px 20px 0 rgba(255,255,255.09);
    }

ul.inline, 
ul.inline li{
    display: inline;
}

.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;
  
  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */ 
  z-index: -1;
}

div.content h1{
    font-size: 64px;
    margin: 0 0 0 34px;
    font-style: italic;
}

.table{
    display: contents;
}

.table-cell-left{
    width: 654px;
    margin-right: 48px;
}

.introduction{
    padding: 8px 16px;
    border-radius: 2px;
    width: 40%;
}

.table-cell-right{
    text-align: center;
}

.table-cell, 
.table-cell-right, 
.table-cell-left{    
    padding: 8px 16px;
}

.introduction,
.table-cell-left{ 
	background-color: rgba(0,0,0,0.48);
}

/* Sets the actual background images to adorable kitties. This part is crucial. */
.bg0::after {
    background: url('rsx/bg/zen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bgRpg {
    background-image: url('projects/rpg/rpg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bgSnow {
    background-image: url('projects/Snow/screen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bgMementoMori::after  {
    background-image: url('projects/MementoMori/Village.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.bgNastyBubbly {
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.42)), url(projects/NastyBubbly/12088-shot1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.bgClocky::after {
    background-image: url('projects/Clocky/clocky2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bgGonp {
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.9)), url('projects/Gonp/gonp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bgCliche::after {
    background-image: url('projects/cliche/maxresdefault.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgMementoMori,
.bgClocky,
.bgCliche{
    background-image: linear-gradient( to bottom, rgba(0,0,0,.2), rgba(0,0,0,.6));
}

content .content{
    display: block;
}

.footer{
    height: 159px;
    background-color: #424242;
}

.sumimasen{
    font-size: 10px;
    font-style: italic;
    margin-left: 8px;
}