body, html, div {
  margin:0;
  padding:0;
}

html {
  height: 100vh;
  overflow: hidden;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: #424242;
  font-size: max(1vw, 12px);
}

.footer{
    max-height: 159px;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}

.section::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
  background-size: 100%;
  z-index: -1;
}

.section-content{
  padding: 1%;
  margin: 2%;
}

.section-background{
	background-color: rgba(0,0,0,.6);
}

.section-rpg-description {
	background-color: rgba(0,0,0,.6);
  max-width: 586px;
}
.section-rpg-video {
	background-color: rgba(0,0,0,.6);

}

.youtube-vid {
	background-color: rgba(0,0,0,.6);
}

h1{
  font-size: 4vw;
  margin: 0 0 0 4%;
  font-style: italic;
}

h1 > span{
  font-size: max(1vw, 10px);
}

ul.inline, 
ul.inline li{
  margin: 0;
  padding: 0;
  display: inline;
}

a{
  color: #88b3ff;
}
a:hover{
  color: chocolate;
  text-decoration: underline;
}
a img:hover{
  box-shadow: 0 10px 16px 0 rgba(255, 255, 255, 0.1),0 6px 20px 0 rgba(255,255,255.09);
}

img{
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
img.logo{
  width: 144px;
  height: 61px;
  margin: 18px 4px 24px 4px;
}

/* 
img.logo.protogecko{
  width: 63px;
  height: 85px;
}
img.logo.cpp{
  width: 65px;
  height: 72px;
  box-shadow: none;
}
img.logo80{
  width: 80px;
  height: 80px;
  margin: 18px 4px 24px 4px;
}
img.medium{
  width: 100%;
  height: 100%;
}    
img.full{
  width: 75%;
  height: 75%;
}
img.github{
  width: 10%;
  height: 10%;
  vertical-align: middle;
  padding-bottom: 12px;
  box-shadow: none;
}

.video-title{
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
} 

.table{
  display: contents;
}
.table-cell-left{
  width: 654px;
  margin-right: 48px;
	background-color: rgba(0,0,0,0.48);
}
.table-cell-right{
  text-align: center;
}
.table-cell, 
.table-cell-right, 
.table-cell-left{    
  padding: 8px 16px;
}
*/


/******** Intro ********/

.introduction{
  padding: 2% 4%;
  border-radius: 2px;
  width: 50%;
	background-color: rgba(0,0,0,0.48);
}

.bg0 {
    background: url('assets/bg/zen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/******** RPG ********/

.bgRpg {
  /* display: flow-root; */
  background-image: url('projects/rpg/rpg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/******** snow ********/
.bgSnow {
    background-image: url('projects/Snow/screen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/******** mementomori ********/
.bgMementoMori::after  {
    background-image: url('projects/MementoMori/Village.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/******** nastybubbly ********/
.bgNastyBubbly {
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.42)), url('projects/NastyBubbly/12088-shot1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/******** clocky ********/
.bgClocky::after {
    background-image: url('projects/Clocky/clocky2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/******** gomp ********/
.bgGonp {
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.9)), url('projects/Gonp/gonp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/******** cliche ********/
.bgCliche::after {
    background-image: url('projects/cliche/maxresdefault.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgMementoMori,
.bgClocky,
.bgCliche{
    background-image: linear-gradient( to bottom, rgba(0,0,0,.2), rgba(0,0,0,.6));
}


/******** Menu ********/

#menuToggle
{
  display: block;
  /* You can also use relative/absolute here if you want to stay on the top */
  position: fixed;
  top: 3%;
  left: 2%;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #141414;
  border-radius: 30px;
  outline: 1px solid #c7c7c7;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  max-width: 400px;
  width: 100vw;
  max-height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  box-sizing: border-box;
  overflow-y: auto;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menu li label
{
  cursor: pointer;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
